$color-background: #f5f7fa;
$color-base: #3498fe;
$color-blue: #70b6fe;
$color-green: #59ca92;
$color-grass-green: #becf25;
$color-yellow: #f7c548;
$color-orange: #ff8840;
$color-red: #fc786e;
$color-warn: #FF3B30;
$color-bg: #f2f3f7;

$color-white: #fff;
$color-star: #FFAF00;

$color-font-title: #37363B;
$color-font-main-title: #222222;
$color-font-sub-title: #5C5B63;
$color-font-content: #7F7B8A;
$color-font-input: #C3C1C3;
$color-border: #e0e0e0;
$color-border-card: #E5E6E7;
$color-img: #f9f9f9;
$color-cancel: #f5f5f5;

$nav-height: 64px;
$content-height: calc(100vh - 64px - 20px)
